$blue-color-hex: #96C4FA;
$pink-color-hex: #F952FD;
$grey-color-hex: #F3F3F3;


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(180deg, $blue-color-hex 0%, $pink-color-hex 100%);
    height: 100vh;
    font-size: 16px;
    overflow: scroll;
    .blue{
        color: $blue-color-hex;
        font-size: 2rem;
        font-weight: 200;
    }
    .pink{
        color: $pink-color-hex;
        font-size: 2rem;
        font-weight: 400;
    }
    header{
        background: whitesmoke;
        height: 60px;
        display: grid;
        grid-template-columns: 1.2fr 3fr;
        #logo{
            height: 40px;
            position: relative;
            top: 5px;
        }
        #title{
            height: 100%;
            padding: 0 20px;
            span{
                margin-top: -20px;
            }
        }
        #header-links{
            ul{
                position: absolute;
                right: 20px;
                li{
                    list-style-type: none;
                    display: inline-block;
                    font-size: 1.4rem;
                    font-weight: 200;
                    padding: 15px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    .container{
        background-color: rgba(245, 245, 245, 0.4);
        width: 80%;
        height: 80vh;
        margin: auto;
        padding: 10px 30px;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        border-radius: 20px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        overflow: scroll;
        #ejemplo-container{
            display: block;
            background-color: whitesmoke;
            border-radius: 10px;
            padding: 10px 20px;
            img{
                margin-top: 20px;
                width: 100%;
            }
        }
        #table-container{
            width: 100%;
            table{
                width: 100%;
                tr{
                    input{
                        width: 95%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1040px){
    body{
        header{
            grid-template-columns: 1fr;
            grid-template-rows: 0.8fr 0.3fr;
            height: auto;
            margin: 0;
            padding: 0;
            gap: 0;
            .title{
                margin: auto;
            }
            .blue{
                font-size: 1.4rem;
            }
            .pink{
                font-size: 1.4rem;
            }
            #header-links{
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    position:sticky;
                    text-align: center;
                    padding: 1px;
                    li{
                        margin: 0;
                        padding: 0;
                        a{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 720px){
    body{
        
        .container{
            height: auto;
            grid-template-columns: 1fr;
        }
    }
}